In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
from sklearn.preprocessing import Imputer

In [10]:
auto = pd.read_table(r'C:\Python34\Lib\site-packages\Orange\datasets\auto-mpg.tab',sep = '\t').ix[2:]

In [11]:
auto2 = auto['horsepower']

In [12]:
auto2.describe()

count     398
unique     94
top       150
freq       22
Name: horsepower, dtype: object

In [13]:
auto2 = pd.to_numeric(auto2, errors='coerce')

In [14]:
auto2.describe()

C:\Users\SONY\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

count    392.000000
mean     104.469388
std       38.491160
min       46.000000
25%             NaN
50%             NaN
75%             NaN
max      230.000000
Name: horsepower, dtype: float64

In [19]:
auto2 = auto2.reshape(-1,1)

In [20]:
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)

In [21]:
imp.fit(auto2)

Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

In [22]:
auto_mean = imp.fit_transform(auto2)

In [23]:
auto['horsepower'] = auto_mean

In [24]:
auto.describe()

       horsepower
count  398.000000
mean   104.469388
std     38.199187
min     46.000000
25%     76.000000
50%     95.000000
75%    125.000000
max    230.000000

In [25]:
imp = Imputer(missing_values='NaN', strategy='median', axis=0)
imp.fit(auto2)
auto_median = imp.fit_transform(auto2)
auto['horsepower'] = auto_median
auto.describe()

       horsepower
count  398.000000
mean   104.304020
std     38.222625
min     46.000000
25%     76.000000
50%     93.500000
75%    125.000000
max    230.000000

In [26]:
imp = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)
imp.fit(auto2)
auto_frequent = imp.fit_transform(auto2)
auto['horsepower'] = auto_frequent
auto.describe()

       horsepower
count  398.000000
mean   105.155779
std     38.600986
min     46.000000
25%     76.000000
50%     95.000000
75%    130.000000
max    230.000000